/* universal style  */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Allerta', 'Work Sans', sans-serif;
}

/* header logo and manu section */
header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
    background-color: #a4a7a8;
}

.logo img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu ul {
    display: flex;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    padding: 20px 20px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    transition: .7s;
}

.menu li a:hover {
    transition: .7s;
    color: #723415;
}

/* banner section */
.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: right;
    text-align: right;
}

.banner-title {
    font-weight: 900;
    font-size: 45px;
    color: #151414;
    padding: 100px 180px 0 500px;
    font-family: 'Allerta', sans-serif;

}

.banner-details {
    font-size: 16px;
    color: #444343;
    padding: 20px 180px 0 600px;
}

.btn {
    border-radius: 5px;
    color: #ffffff;
    background-color: #f15b22;
    padding: 12px 25px;
    cursor: pointer;
    border: 1px solid #f15b22;
    transition: .7s;
}

.btn:hover {
    background-color: #bec2c3;
    transition: .7s;
    color: #151414;
    border: 1px solid #22201f;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.contact-btn {
    margin: 20px 180px 0 0;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

/* style My failures of previous year section */
.failures {
    display: flex;
    justify-content: center;
    align-items: center;
}

.failures-img-left img {
    width: 480px;
    height: 600px;
    margin: 80px 0 30px 0px;
}

.failures-text-left {
    padding: 0 100px;
}

.failures-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding: 20px 0;
}

.failres-details {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Work Sans';
    color: #444343;
    padding: 20px 0;
}

.checkmark {
    list-style: none;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Work Sans';
}

.checkmark li:before {
    content: '✓';
    color: green;
    font-size: 22px;
    font-weight: 700;
}

/* style my Plans section  */
.plan {
    width: 100%;
}

.header-title {
    text-align: center;
    font-Weight: 700;
    Size: 40px;
    color: #151414;
    padding: 40px 0;
    justify-content: space-around;
}

.plan-items {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.item {
    width: 17%;
    padding: 20px 10px;
    margin: 0 5px;
}

.item img {
    width: 80px;
    height: 80px;
}

.item:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 5px;
}

.plan-img {
    padding: 20px 0;
}

.plan-title {
    font-Weight: 700;
    Size: 26px;
    color: #151414;
    padding: 20px 0;
}

.plan-sub-title {
    font-weight: 500;
    font-size: 22px;
    color: #737272;
    font-family: 'Work Sans';
}

/* style Awlays keep a positive mindset section */
.awlays-keep {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 50px 0;

}

.img-opacity-wh {
    background-image: url(../images/watch.png), linear-gradient(90deg, rgb(255, 88, 10), rgba(255, 88, 10, 0.596), rgba(255, 88, 10, 0));
    border-radius: 5px;
    width: 1040px;
    height: 250px;
    margin: auto;
    display: flex;
    align-items: center;
    background-blend-mode: overlay;
}

.opacity {
    padding: 0 60px;
    font-size: 25px;
    font-Weight: 700;
}

.opacity-in-text {
    color: #ffffff;
    text-shadow: 2px 2px #ff0000;

}

.phone-icon {
    margin: 0 10px;
}

.opacity button {
    padding: 20px 40px;
    color: red;
    background-color: #FFFFFF;
    margin: 20px 0;
    font-size: 19px;
    font-weight: 600;

}

.opacity button:hover {
    background-color: rgb(255, 88, 10);
    border: 1px solid #ffffff;
    color: #ffffff;
}

/* footer section */
footer{
    text-align: center;
}
.footer-section {
    width: 100%;
    height: 70vh;
    background-color: #151414;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.future-title {
    color: #ffffff;
    padding: 40px 0 20px 0;
    font-size: 45px;
    font-weight: 600;
}

.future-details {
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
    font-family:  sans-serif;
    line-height: 25px;

}

.email-phon {
    color: #ffffff;
    padding: 20px 0;
    font-family: sans-serif;
    margin: auto;
}

.soceal-icon {
    display: flex;
    font-size: 30px;
}
.color-g{
    color: #1da1f2;
}
.color-g:hover{
    color: #FFFFFF;
}
.color-r{
    color: #ff0000;
}
.icon-fb {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 55px 55px;
    margin: 10px 10px;
    transition: .7s;

}
.icon-fb:hover{
    transition: .7s;
    color: #FFFFFF;
    background-color: #1da1f2;
}
.footer-right{
    width: 27%;
    height: 48vh;
    
}
.subscribe-title{
    color: #FFFFFF;
    font-size: 35px;
}
.email-input input{
    width: 65%;
    padding: 14px 10px;
    margin: 20px 0;
    background-color: #151414;
    border-radius: 5px;
    border: 1px solid #ececec;
}
.btn-ubscribe{
    padding: 13px 40px;
    font-size: 18px;
    background-color: #ffffff;
    color: #151414;
}
.btn-ubscribe:hover{
    background-color: #151414;
    color: #FFFFFF;
    border: 1px solid #ffffff;
}